[submodule "badvpn"]
	path = badvpn
	url = https://github.com/Trojan-Plus-Group/badvpn
[submodule "trojan-plus-android-libs"]
	path = trojan-plus-android-libs
	url = https://github.com/Trojan-Plus-Group/trojan-plus-android-libs.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
